

.color-navbar{
  background-color:#e74c3c;
}
.algo{
margin-left: 20px;
margin-right: 10px;
font-size:large;

}

.vis{
  margin-left: 10px;
margin-right: 15px;

}
.clpa{
  margin-left: 15px;
margin-right: 20px;

}
.addw{

margin-right: 10px;
font-size:large;
}
.addWa{
  margin-left: 15px;
margin-right: 20px;
font-size:large;
}
.clW{
margin-left: 15px;
margin-right: 15px;
font-size:large;
}

.butt1{
  
margin-right: 10px;

}
.butt2{
  margin-left: 10px;


}
.speed{
  font-size:large;
}
 